aiosqlite==0.21.0
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
assertpy==1.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-default-group==1.2.4
diskcache==5.6.3
gherkin-official==29.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
idna==3.10
iniconfig==2.0.0
mako==1.3.9
markdown-it-py==3.0.0
markupsafe==3.0.2
mcp==1.5.0
mdurl==0.1.2
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
parse==1.20.2
parse-type==0.6.4
pip==24.3.1
platformdirs==4.3.7
pluggy==1.5.0
pydantic==2.11.4
pydantic-core==2.33.2
pydantic-settings==2.8.1
pygments==2.19.1
pytest==8.3.5
pytest-asyncio==0.25.3
pytest-bdd==8.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pyyaml==6.0.2
requests==2.32.3
rich==14.0.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sqlite-fts4==1.0.3
sqlite-utils==3.38
sse-starlette==2.2.1
starlette==0.46.1
tabulate==0.9.0
typer==0.15.2
types-tabulate==0.9.0.20241207
typing-extensions==4.12.2
typing-inspection==0.4.0
urllib3==2.3.0
uvicorn==0.34.0
